<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>קצת עלינו</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div align="center">
    <h2>{{AboutData.Title}}</h2>
    <div  [innerHTML]="AboutData.Text" ></div>
  </div>

</ion-content>
