<!--
  Generated template for the PhonebookPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ספר טלפונים</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <article style="overflow:hidden">
  <div *ngFor="let item of PhoneBookArray let i=index " >
    <div  class="articlesContacts"  ng-style="$index==0 ? {'border-top':'none'}:{'border-top':'solid #2f2f2f'}">
      <div class="contactMainDiv">
        <div class="coBlue"  ng-style="$index%2==0 ? {'background-color':'#377fba'}:{'background-color':'#00ac36'}">
        </div>
        <div class="coInfo">
          <div style="font-size:17px; font-weight:bold">{{item.title}}</div>
          <div style="font-size:15px; ">{{item.subtitle}}</div>
        </div>
        <div class="coIcon" align="center">
          <div (click)="DialPhone(item.phone)">
            <div style="width:70%; padding-top:10px;">
              <img src="images/phone.png" style="width:100%" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </article>
</ion-content>
