page-phonebook {

}
#article
{
  width:100%;
  float:right;
  background-color:#e8e8e8;
}

.articlesContacts
{
  width:100%;
  float:right;
  border-top: solid #2f2f2f;
}

.contactMainDiv
{
  width:100%;
  overflow:hidden;
}

.coBlue
{
  float:right;
  width:4%;
  background-color:#069;
  height:74px;
  margin-top:0px;
}

.coInfo
{
  float:right;
  width:75%;
  text-align:right;
  padding:10px;
}