<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="">


  <button ion-button full (click)="navigatePage(0)">קצת עלינו</button>
  <button ion-button full (click)="navigatePage(1)">ספר טלפונים</button>
  <button ion-button full (click)="navigatePage(2)">בלוג מידע</button>
  <button ion-button full (click)="navigatePage(3)">גלריית וידאו</button>
  <button ion-button full (click)="navigatePage(4)">  תנו לנו פידבק</button>
  <button ion-button full (click)="navigatePage(5)">  מידע שימושי</button>
  <button ion-button full (click)="navigatePage(6)"> איך להגיע</button>
  <button ion-button full (click)="navigatePage(7)"> כניסת עובדים</button>
  <button ion-button full (click)="navigatePage(8)"> צור קשר</button>

</ion-content>
